{% extends 'resume/base.html' %}

{% block title %}Resume Form{% endblock %}

{% block custom_styles %}
<style>
    body {
        overflow: auto; /* Allow scrolling on this page */
    }

    ::-webkit-scrollbar {
        width: 8px; 
        background: #1c243c;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #babcbb;
        border-radius: 10px; 

    }

    @media (max-width: 576px) {
        #custom-alert {
            top: 10px;  /* Less space from the top on small screens */
            right: 10px; /* Less space from the right on small screens */
        }
    }

    @media (min-width: 576px) and (max-width: 768px) {
        #custom-alert {
            top: 15px; /* Adjust spacing for medium screens */
            right: 15px;
        }
    }

    @media (min-width: 768px) {
        #custom-alert {
            top: 20px; /* Default spacing for larger screens */
            right: 20px;
        }
    }

    
</style>
{% endblock %}

{% block content %}

    <div class="container mb-4">
        <h2 class="mt-3 mb-5 text-center" style="color: #418da6;">USER RESUME FORM</h2>
        <form method="POST" id="myForm">
            {% csrf_token %}
            
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <!-- Personal Information -->
            <h4 class="mt-4">Personal Information </h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="full_name">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="full_name" name="full_name" placeholder="Enter your full name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="phone_number">Phone Number <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="phone_number" name="phone_number" placeholder="Enter your phone number" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email Address <span class="text-danger">*</span></label>
                    <input type="email" class="form-control custom-input" id="email" name="email" placeholder="Enter your email" required autocomplete="email">
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Location <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="location" name="location" placeholder="Enter your location" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="linkedin">LinkedIn Profile</label>
                    <input type="url" class="form-control custom-input" id="linkedin" name="linkedin" placeholder="Enter your LinkedIn profile URL">
                </div>
                <div class="form-group col-md-4">
                    <label for="github">GitHub Profile</label>
                    <input type="url" class="form-control custom-input" id="github" name="github" placeholder="Enter your GitHub URL">
                </div>
                <div class="form-group col-md-4">
                    <label for="portfolio">Portfolio</label>
                    <input type="url" class="form-control custom-input" id="portfolio" name="portfolio" placeholder="Enter your Portfolio URL">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="leetcode">LeetCode Profile</label>
                    <input type="url" class="form-control custom-input" id="leetcode" name="leetcode" placeholder="Enter your LeetCode profile URL">
                </div>
                <div class="form-group col-md-4">
                    <label for="gfg">GFG Profile</label>
                    <input type="url" class="form-control custom-input" id="gfg" name="gfg" placeholder="Enter your GFG profile URL">
                </div>
                <div class="form-group col-md-4">
                    <label for="hackerrank">HackerRank profile</label>
                    <input type="url" class="form-control custom-input" id="hackerrank" name="hackerrank" placeholder="Enter your HackerRank profile URL">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">HackerEarth Porfile</label>
                    <input type="url" class="form-control custom-input" id="hackerearth" name="hackerearth" placeholder="Enter your HackerEarth profile URL">
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Other URL</label>
                    <input type="url" class="form-control custom-input" id="other_link" name="other_link" placeholder="Enter any Other URL">
                </div>
            </div>

            <div class="form-group">
                <label for="summary">Summary <span class="text-danger">*</span></label>
                <textarea class="form-control custom-input" id="summary" name="summary" placeholder="Enter your profile summary" style="height: 120px;" required></textarea>
            </div>


            <!-- 10th Education -->
            <h4 class="mt-5"> High School (10th) Education </h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="institution_10">Institution Name </label>
                    <input type="text" class="form-control custom-input" id="institution_10" name="institution_10" placeholder="Eg. DAV Public School, etc.">
                </div>
                <div class="form-group col-md-6">
                    <label for="institution_10_location">Institution Location </label>
                    <input type="text" class="form-control custom-input" id="institution_10_location" name="institution_10_location" placeholder="Eg. New Delhi - 110070" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="degree_10">Degree </label>
                    <input type="text" class="form-control custom-input" id="degree_10" name="degree_10" placeholder="Eg. High School - 10th">
                </div>
                <div class="form-group col-md-6">
                    <label for="end_year_10">End Year </label>
                    <input type="number" class="form-control custom-input" id="end_year_10" name="end_year_10" placeholder="Eg. 2019, 2020, 2021.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="board_10">Board</label>
                    <input type="text" class="form-control custom-input" id="board_10" name="board_10" placeholder="Eg. CBSE, ICSE, Any State Board">
                </div>
                <div class="form-group col-md-4">
                    <label for="grade_type_10">Grade Type</label>
                    <select class="custom-select" id="grade_type_10" name="grade_type_10">
                        <option value="" disabled selected>Select Grade Type</option>
                        <option value="percentage">Percentage</option>
                        <option value="cgpa">CGPA</option>
                    </select>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="percentage_10">Grade</label>
                    <input type="text" class="form-control custom-input" id="percentage_10" name="percentage_10" placeholder="Eg. Percentage : 92.78 | CGPA : 8.78">
                </div>
            </div>

            <!-- 12th Education -->
            <h4 class="mt-5"> Higher secondary (12th)  Education / Diploma <span class="text-danger">*</span></h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="institution_12">Institution Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="institution_12" name="institution_12" placeholder="Enter your 12th institution" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="institution_12_location">Institution Location <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="institution_12_location" name="institution_12_location" placeholder="Eg. New Delhi - 110070" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="degree_12">Degree <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="degree_12" name="degree_12" placeholder="Eg. Higher secondary education (12th) | Diploma in - Electronics Engineering" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="end_year_12">End Year <span class="text-danger">*</span></label>
                    <input type="number" class="form-control custom-input" id="end_year_12" name="end_year_12" placeholder="Eg. 2019, 2020, 2021. " required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="board_12">Board <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="board_12" name="board_12" placeholder="Eg. 12th : CBSE, ICSE | Diploma : BTE" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="grade_type_12">Grade Type</label>
                    <select class="custom-select" id="grade_type_12" name="grade_type_12">
                        <option value="" disabled selected>Select Grade Type</option>
                        <option value="percentage">Percentage</option>
                        <option value="cgpa">CGPA</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="percentage_12">Grade</label>
                    <input type="text" class="form-control custom-input" id="percentage_12" name="percentage_12" placeholder="Eg. Percentage : 92.78 | CGPA : 8.78">
                </div>
            </div>

            <!-- Graduation Education -->
            <h4 class="mt-5">Graduation Education <span class="text-danger">*</span></h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="college">College Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="college" name="college" placeholder="Enter your college name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="college_location">College Location <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="college_location" name="college_location" placeholder="Eg. New Delhi - 110070" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="degree_college">Degree <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="degree_college" name="degree_college" placeholder="Eg. B.Tech, BCA, MBA, BBA" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="specialization">Specialization <span class="text-danger">*</span></label>
                    <input type="text" class="form-control custom-input" id="specialization" name="specialization" placeholder="Eg. Computer Science & Engineering, Finance, Auccounting" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="start_year_college">Start Year <span class="text-danger">*</span></label>
                    <input type="number" class="form-control custom-input" id="start_year_college" name="start_year_college" placeholder="Enter the Start year" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="end_year_college">End Year <span class="text-danger">*</span></label>
                    <input type="number" class="form-control custom-input" id="end_year_college" name="end_year_college" placeholder="Enter the End year" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="grade_type_college">Grade Type</label>
                    <select class="custom-select" id="grade_type_college" name="grade_type_college">
                        <option value="" disabled selected>Select Grade Type</option>
                        <option value="percentage">Percentage</option>
                        <option value="cgpa">CGPA</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="percentage_college">Grade</label>
                    <input type="text" class="form-control custom-input" id="percentage_college" name="percentage_college" placeholder="Eg. Percentage:92.7 | CGPA:8.7">
                </div>
            </div>

            <!-- Skills -->
            <h4 class="mt-5">Technical Skills <span class="text-info small">Enter skills separated by commas. Each will be displayed as a skill badge.</span></h4>
            <hr>
            <div class="form-group">
                <label for="skill">Languages <span class="text-danger">*</span></label>
                <input type="text" class="form-control custom-input" id="languages" name="languages" placeholder="Enter your languages (comma-separated) Eg. Pthon, Java, C, C++" required>
            </div>
            <div class="form-group">
                <label for="frameworks">Technologies / Frameworks</label>
                <input type="text" class="form-control custom-input" id="frameworks" name="frameworks" placeholder="Enter your technologies/frameworks (comma-separated) Eg. Django, Flask, Git, Github, Bootstrap">
            </div>
            <div class="form-group">
                <label for="other_skills">Other Technologies / Skills</label>
                <input type="text" class="form-control custom-input" id="other_skills" name="other_skills" placeholder="Enter your other technologies/skills (comma-separated) Eg. Graphics Desgning, DBMS, Computer Networks">
            </div>

            <!-- Projects -->
            <h4 class="mt-5">Projects <span class="text-primary small">
                Recommended  to have two/three Projects in your Resume.
                </span></h4>
            <hr>
            <div class="container" id="projects-container">
                <div class="project-fields " id="project-1">
                    <h5 class="mb-3"> <u>Enter details for Project 1</u>:</h5>
                    <div class="form-group">
                        <label for="project_title_1">Project Title <span class="text-danger">*</span></label>
                        <input type="text" class="form-control custom-input" id="project_title_1" name="project_title_1" placeholder="Enter project title" required>
                    </div>
                    <div class="form-group">
                        <label for="project_description_1">Project Description <span class="text-danger small">*</span> <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                        <textarea class="form-control custom-input" id="project_description_1" style="height: 100px;" name="project_description_1" placeholder="Enter project description (Use new lines for each points)" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="technologies_used_1">Technologies Used <span class="text-danger small">*</span></label>
                        <input type="text" class="form-control custom-input" id="technologies_used_1" name="technologies_used_1" placeholder="Enter technologies used (comma-separated) Eg. Django, Python, pdfkit, HTML, CSS, Bootstrap" required>
                    </div>
                    <div class="form-group">
                        <label for="project_link_1">Project Url</label>
                        <input type="url" class="form-control custom-input" id="project_link_1" name="project_link_1" placeholder="Enter Project Url">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3 mr-3">
                <button type="button" class="btn btn-custom btn-sm" id="add-project">
                    + Add more projects
                </button>
            </div>
        
            {% comment %} <!-- Projects -->
            <h4 class="mt-5">Projects</h4>
            <hr>
        <div class="container">
            <H5 class="mb-3"> <em>Enter 1st project details:</em></H5>
            <div class="form-group">
                <label for="project_title_1">Project Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control custom-input" id="project_title_1" name="project_title_1" placeholder="Enter project title "required>
            </div>
            <div class="form-group">
                <label for="project_description_1">Project Description <span class="text-danger small">* </span> <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="project_description_1" name="project_description_1" placeholder="Enter project description (Use new lines for each points)" required></textarea>
            </div>
            <div class="form-group">
                <label for="technologies_used_1">Technologies Used <span class="text-danger small">*</span></label>
                <input type="text" class="form-control custom-input" id="technologies_used_1" name="technologies_used_1" placeholder="Enter technologies used (comma-separated) Eg. Django, Python, pdfkit, HTML, CSS, Bootstrap" required>
            </div>
            <div class="form-group">
                <label for="project_link_1">Project Url</label>
                <input type="url" class="form-control custom-input" id="project_link_1" name="project_link_1" placeholder="Enter Project Url">
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        <div class="container">
            <H5 class="mb-3"> <em>Enter 2nd project details: <span class="text-info small">Add at least a title and description for your second project.</span></em></H5>
            <div class="form-group">
                <label for="project_title_2">Project Title </label>
                <input type="text" class="form-control custom-input" id="project_title_2" name="project_title_2" placeholder="Enter project title">
            </div>
            <div class="form-group">
                <label for="project_description_2">Project Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="project_description_2" name="project_description_2" placeholder="Enter project description (Use new lines for each points)"></textarea>
            </div>
            <div class="form-group">
                <label for="technologies_used_2">Technologies Used</label>
                <input type="text" class="form-control custom-input" id="technologies_used_2" name="technologies_used_2" placeholder="Enter technologies used (comma-separated) Eg. Django, Python, pdfkit, HTML, CSS, Bootstrap">
            </div>
            <div class="form-group">
                <label for="project_link_2">Project Url</label>
                <input type="url" class="form-control custom-input" id="project_link_2" name="project_link_2" placeholder="Enter Project Url">
            </div>
        </div> {% endcomment %}


            <!-- Work Experience -->
            <h4 class="mt-4">Work Experience <span class="text-primary small">Recommended to have two/three work experience in your Resume.</span></h4>
            <hr>
            <div class="container" id="work-experience-container">
                <div class="work-experience-fields" id="work-experience-1">
                <h5 class="mb-3"><u>Enter details for Work Experience 1</u>: <span class="text-info small">Add at least job title, complany name and description. </span></h5>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="job_title_1">Job Title</label>
                            <input type="text" class="form-control custom-input" id="job_title_1" name="job_title_1" placeholder="Eg. Software Engineer, Python Developer">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="job_mode_1">Job Mode</label>
                            <input type="text" class="form-control custom-input" id="job_mode_1" name="job_mode_1" placeholder="Eg. Onsite, Remote, Hybrid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_name_1">Company Name</label>
                        <input type="text" class="form-control custom-input" id="company_name_1" name="company_name_1" placeholder="Enter company name">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="start_date_1">Start Date</label>
                            <input type="date" class="form-control custom-input" id="start_date_1" name="start_date_1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end_date_1">End Date</label>
                            <input type="date" class="form-control custom-input" id="end_date_1" name="end_date_1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_description_1">Job Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                        <textarea class="form-control custom-input" id="job_description_1" name="job_description_1" placeholder="Enter job description" style="height: 100px;"></textarea>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-3 mr-3">
                <button type="button" class="btn btn-custom btn-sm" id="add-work-experience">
                    + Add Another Work Experience
                </button>
            </div>
            

            {% comment %} <!-- Work Experience -->
            <h4 class="mt-5">Work Experience</h4>
            <hr>
            <div class="container">
                <H5 class="mb-3"> <em>Enter 1st Work Experience:</em></H5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="job_title_1">Job Title</label>
                    <input type="text" class="form-control custom-input" id="job_title_1" name="job_title_1" placeholder="Eg. Software Engineering, Python Developer">
                </div>
                <div class="form-group col-md-6">
                    <label for="job_mode_1">Job Mode</label>
                    <input type="text" class="form-control custom-input" id="job_mode_1" name="job_mode_1" placeholder="Eg. : Onsite, Remote, Hybrid">
                </div>
            </div>
            <div class="form-group">
                <label for="company_name_1">Company Name</label>
                <input type="text" class="form-control custom-input" id="company_name_1" name="company_name_1" placeholder="Enter company name">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start_date_1">Start Date</label>
                    <div class="date-picker-container">
                        <input type="date" class="form-control custom-input" id="start_date_1" name="start_date_1">
                    </div>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="end_date_1">End Date</label>
                    <input type="date" class="form-control custom-input" id="end_date_1" name="end_date_1">
                </div>
            </div>
            <div class="form-group">
                <label for="job_description_1">Job Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="job_description_1" name="job_description_1" placeholder="Enter job description"></textarea>
            </div>
        </div>

            <div class="container">
                <hr>
            </div>

            <div class="container">
                <H5 class="mb-3"> <em>Enter 2nd Work Experience:</em></H5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="job_title_2">Job Title</label>
                    <input type="text" class="form-control custom-input" id="job_title_2" name="job_title_2" placeholder="Eg. Software Engineering, Python Developer ">
                </div>
                <div class="form-group col-md-6">
                    <label for="job_mode_2">Job Mode</label>
                    <input type="text" class="form-control custom-input" id="job_mode_2" name="job_mode_2" placeholder="Eg. Onsite, Remote, Hybrid">
                </div>
            </div>
            <div class="form-group">
                <label for="company_name_2">Company Name 2</label>
                <input type="text" class="form-control custom-input" id="company_name_2" name="company_name_2" placeholder="Enter company name">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start_date_2">Start Date</label>
                    <input type="date" class="form-control custom-input" id="start_date_2" name="start_date_2">
                </div>
                <div class="form-group col-md-6">
                    <label for="end_date_2">End Date</label>
                    <input type="date" class="form-control custom-input" id="end_date_2" name="end_date_2">
                </div>
            </div>
            <div class="form-group">
                <label for="job_description_2">Job Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="job_description_2" name="job_description_2" placeholder="Enter job description"></textarea>
            </div>
        </div> {% endcomment %}

            <!-- Awards and Achievements -->
            <h4 class="mt-5">Awards and Achievements <span class="text-info small">Enter awards/achievements on a new line; each line will be a bullet point.</span></h4>
            <hr>
            <div class="form-group">
                {% comment %} <label for="award">Enter awards or achievements:</label> {% endcomment %}
                <textarea class="form-control custom-input" id="award" name="award" style="height: 100px;"></textarea>
            </div>
            

            <!-- Certifications -->
            <h4 class="mt-5">Certifications <span class="text-info small">Enter certifications on a new line; each line will be a bullet point.</span></h4>
            <hr>
            <div class="form-group">
                <textarea class="form-control custom-input" id="certifications" name="certifications" style="height: 120px;"></textarea>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button type="reset" class="btn btn-custom" style="margin-right: 10px;" onclick="resetForm();">Reset</button>

                <button type="submit" class="btn btn-custom">Submit</button>
                
            </div>
        </form>
    </div>

    <!-- Alert Box -->
    <div id="custom-alert" class="alert alert-info alert-dismissible fade show" style="display: none; position: fixed; top: 20px; right: 20px; z-index: 1050; width: auto; max-width: 90%;" role="alert">
        <strong>Oops!</strong> You can add a maximum of three {{ITEM}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>    

{% endblock %}
{% block custom_scripts %}
<script>
    let projectCount = 1;
    let maxproject = 4;

document.getElementById('add-project').addEventListener('click', function() {
    if (projectCount < maxproject) {
        projectCount++;
        const newProjectFields = document.createElement('div');
        newProjectFields.classList.add('project-fields');
        newProjectFields.id = `project-${projectCount}`;
        newProjectFields.innerHTML = `
            <h5 class="mb-3 mt-4"><u>Enter details for Project ${projectCount}</u>: <span class="text-info small">Add at least title and description for your project ${projectCount}.</span></h5>
            <div class="form-group">
                <label for="project_title_${projectCount}">Project Title</label>
                <input type="text" class="form-control custom-input" id="project_title_${projectCount}" name="project_title_${projectCount}" placeholder="Enter project title" >
            </div>
            <div class="form-group">
                <label for="project_description_${projectCount}">Project Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="project_description_${projectCount}" name="project_description_${projectCount}" placeholder="Enter project description (Use new lines for each points)" ></textarea>
            </div>
            <div class="form-group">
                <label for="technologies_used_${projectCount}">Technologies Used </label>
                <input type="text" class="form-control custom-input" id="technologies_used_${projectCount}" name="technologies_used_${projectCount}" placeholder="Enter technologies used (comma-separated) Eg. Django, Python, pdfkit, HTML, CSS, Bootstrap">
            </div>
            <div class="form-group">
                <label for="project_link_${projectCount}">Project Url</label>
                <input type="url" class="form-control custom-input" id="project_link_${projectCount}" name="project_link_${projectCount}" placeholder="Enter Project Url">
            </div>
            <hr>
        `;
        document.getElementById('projects-container').appendChild(newProjectFields);
    } else {
        showAlert('Project', maxproject);
    }
});

let workExperienceCount = 1;
let maxexperience = 3;

document.getElementById('add-work-experience').addEventListener('click', function() {
    if (workExperienceCount < maxexperience) {
        workExperienceCount++;
        const newWorkExperienceFields = document.createElement('div');
        newWorkExperienceFields.classList.add('work-experience-fields');
        newWorkExperienceFields.id = `work-experience-${workExperienceCount}`;
        newWorkExperienceFields.innerHTML = `
            <h5 class="mb-3 mt-4"><u>Enter details Work Experience ${workExperienceCount}</u>:<span class="text-info small">Add at least job title, complany name and description. </span></h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="job_title_${workExperienceCount}">Job Title</label>
                    <input type="text" class="form-control custom-input" id="job_title_${workExperienceCount}" name="job_title_${workExperienceCount}" placeholder="Eg. Software Engineer, Python Developer">
                </div>
                <div class="form-group col-md-6">
                    <label for="job_mode_${workExperienceCount}">Job Mode</label>
                    <input type="text" class="form-control custom-input" id="job_mode_${workExperienceCount}" name="job_mode_${workExperienceCount}" placeholder="Eg. Onsite, Remote, Hybrid">
                </div>
            </div>
            <div class="form-group">
                <label for="company_name_${workExperienceCount}">Company Name</label>
                <input type="text" class="form-control custom-input" id="company_name_${workExperienceCount}" name="company_name_${workExperienceCount}" placeholder="Enter company name">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start_date_${workExperienceCount}">Start Date</label>
                    <input type="date" class="form-control custom-input" id="start_date_${workExperienceCount}" name="start_date_${workExperienceCount}">
                </div>
                <div class="form-group col-md-6">
                    <label for="end_date_${workExperienceCount}">End Date</label>
                    <input type="date" class="form-control custom-input" id="end_date_${workExperienceCount}" name="end_date_${workExperienceCount}">
                </div>
            </div>
            <div class="form-group">
                <label for="job_description_${workExperienceCount}">Job Description <span class="text-info small">Each new line will be converted into a bullet point.</span></label>
                <textarea class="form-control custom-input" id="job_description_${workExperienceCount}" name="job_description_${workExperienceCount}" placeholder="Enter job description"></textarea>
            </div>
        `;
        document.getElementById('work-experience-container').appendChild(newWorkExperienceFields);
    } else {
        showAlert('Work Experience', maxexperience);
    }
});

function showAlert(item , number) {
    const alertBox = document.getElementById('custom-alert');
    alertBox.innerHTML = `<strong>Oops!</strong> You can add a maximum of ${number} ${item}. <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>`;
    alertBox.style.display = 'block';
    setTimeout(() => {
        alertBox.style.display = 'none';
    }, 3000); // Hide after 3 seconds
}

const textarea = document.getElementById('award');
                textarea.placeholder = "Eg. Completed 650+ LeetCode problems with an average acceptance rate of 85%\nEg. Successfully led a project that generated $1 million in revenue\nEg. Developed a mobile app as part of a university project, achieving [number of downloads or users].";

const textarea_certificate = document.getElementById('certifications');
        textarea_certificate.placeholder = "Eg. Certified in Python Programming - Coursera, 2023\nEg. Google Data Analytics Certificate, 2023\nEg. Java Programming and Software Engineering Fundamentals - Coursera, 2023\nEg. Cisco Certified Network Associate (CCNA), 2022";

function resetForm() {
    // Reset the form
    document.getElementById('myForm').reset();
    // Scroll to the top
    window.scrollTo(0, 0);
    
    // Reset project fields
    projectCount = 1; // Reset count to the initial state
    const projectFields = document.querySelectorAll('.project-fields:not(:first-child)');
    projectFields.forEach(field => field.remove()); // Remove all extra project fields except the first one

    // Reset work experience fields
    workExperienceCount = 1; // Reset count to the initial state
    const workFields = document.querySelectorAll('.work-experience-fields:not(:first-child)');
    workFields.forEach(field => field.remove()); // Remove all extra work experience fields except the first one
}
        

        
</script>

{% endblock %}